html,body{
	height: 100%!important;
	width: 100%!important;
	padding: 0!important;
}
*{
	box-sizing: border-box;
}
body {
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		position: relative;
}
.content {
   width: 100%;
   padding: 0!important;
   padding-bottom: 0!important;
   box-sizing: border-box;
}
.content.iframe-ct{
	height: 100%;
}
.content .cont{
	width: 100%;
	display: none;
}
.content.iframe-ct #iframe-ct{
	display: block;
}
.content.img-ct #img-ct{
	display: block;
}
.content #dom-ct{
	display: none;
}
.content.dom-ct #dom-ct{
	display: block;
}

.content.dom-ct .rp-bg{
	max-width: 450px;
	left:50%;
	transform: translateX(-50%);
	top:50%;
	margin-top:-75px;
	margin-bottom: 0;
}

.content #iframe-ct{
	height: 100%;
	overflow: auto;
}
.content .cont iframe{
	border: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	/*overflow-y: scroll;*/
}
.content .cont .img-view{
	max-width: 100%;
	display: block;
	height: auto;
	margin: 0 auto;
}







.rp-bg {
  position: absolute;
  bottom: 150px;
  right: 0;
  height: auto;
  padding: 0 35px;
  background: transparent;
  height: 75px;
  width: 75px;
  padding: 0;
}
.rp-bg .rp-icon {
    vertical-align: middle;
    height: 100%;
    width: auto;
}



.rp-ct{
	position: relative;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
}
.rp-ct:after{
	content: "";
	display: block;
	height: 0;
	width: 0;
	clear: both;
}
.rp-bg .bg{
	width: 100%;
	float: left;
	height: auto;
	display: none;
}
.rp-bg .bg.active{
	display: block;
}
.rp-bg .icon{
	position: absolute;
  left: 10.4%;
  top: 25.9%;
	height: 24.8px;
	width: 20px;
	animation: redpack .2s infinite;
}
@keyframes redpack{
	0% {transform: translateX(0px);}
	25% {transform: translateX(-0.6px);}
	50% {transform: translateX(0px);}
	75% {transform: translateX(0.6px);}
	100% {transform: translateX(0px);}
}







/*.rp-cont{
	height: 150px;
	padding-top: 33px;
	background: transparent url(../images/rpbg-1.png) no-repeat center center / 100% 100%;
}
.rp-cont h1{
	line-height: 25px;
	height: 25px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 16px;
	color: #333333;
	margin-bottom: 38px;
	text-align: center;
}
.rp-cont button{
	border: none;
	outline: none;
	display: block;
	padding: 0;
	margin: 0 auto;
	height: 30px;
	width: 125px;
	text-align: center;
	line-height: 30px;
	border-radius: 19px;
	background: #EB3E3C;
	font-size: 15px;
	color: #ffffff;
}
*/