html,body{
	height: 100%!important;
	width: 100%!important;
	padding: 0!important;
}
body{
	background: linear-gradient(to bottom, #ffffff 0%, #ffffff 50%, #eb3e3c 51%, #eb3e3c 100%);
	max-width: 450px;
	left: 50%;
	transform: translateX(-50%);
	position: relative;
}
*{
	box-sizing: border-box;
}
.content{
	height: 100%;
	width: 100%;
	position: relative;
	background: transparent url(../images/rpbg-3.png) no-repeat center top / 100% 100%;
  max-width: 450px;
  max-height: 720px;
}
.content #qrCodeOrigin{
	height: 0;
	width: 0;
	overflow: hidden;
	opacity: 0;
}
.content #qrCode{
	position: absolute;
	top: 22.5%;
	left: 50%;
	height: 28%;
	width: auto;
	transform: translateX(-50%);
	background: #ffffff;
	padding: 5px;
	box-sizing: border-box;
}
.content .ct{
	position: absolute;
	left: 25px;
	right: 25px;
	top: 68%;
}
.content .ct .input-ct{
	border-radius: 10px;
	overflow: hidden;
	border: solid 1px #FFEB00;
	background: #ffffff;
	position: relative;
	padding: 12px 100px 12px 10px;
	height: 45px;
	margin-bottom: 10px;
}
.content .ct .input-ct input{
	height: 19px;
	line-height: 21px;
	border: none;
	background: #ffffff;
	color: 333333;
	width: 100%;
	font-size: 15px;
	outline: none;
}
.content .ct .input-ct label{
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 80px;
	text-align: center;
	background: #FFEB00;
	text-align: center;
	line-height: 45px;
	font-size: 15px;
	color: #BC7705;
	font-weight: 500;
	z-index: 1;
	display: none;
}
.content .ct .input-ct label.active{
	display: block;
}
.content .ct ul{
	width: 100%;
}
.content .ct ul li{
	line-height: 15px;
	color: #ffffff;
	font-size: 12px;
}
.content .ct ul li a{
	color: #FFEB00;
	outline: #FFEB00;
	text-decoration: underline;
}
.promote-txt{
	padding-bottom: 5px;
  color: #ffffff;
  font-size: 15px;
}




.loading{
    /*固定loading*/
    position: absolute;
    top: 50%;
    left: 50%;
    /*垂直水平居中*/
    margin: -15px 0 0 -15px;
    width: 30px;
    height: 30px;
    border: 2px solid;
    border-color: #fff #ffffff transparent;
    border-radius: 50%;
    box-sizing: border-box;
    /*动画时间1s，线性变化，无限循环*/
    animation: loading 1s linear infinite;
}
@keyframes loading{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.btn-mask.active{
	display: block;
}
.btn-mask{
	display: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 80px;
    text-align: center;
    background: #FFEB00;
    z-index: 10;
}