html,body{
	height: 100%!important;
	width: 100%!important;
	padding: 0!important;
}
*{
	box-sizing: border-box;
}
.content{
	height: 100%;
	width: 100%;
	position: relative;
	background: transparent url(../images/rpbg-2.jpg) no-repeat center top / 100% 100%;
}
.content #qrCodeOrigin{
	height: 0;
	width: 0;
	overflow: hidden;
	opacity: 0;
}
.content #qrCode{
	position: absolute;
	top: 22%;
	left: 50%;
	height: 22%;
	width: auto;
	transform: translateX(-50%);
}
.content #qrCode canvas{
	height: 100%;
	width: 100%;
}
.content h3{
	font-size: 15px;
	color: #ffffff;
	text-align: center;
	padding: 0 10px;
	position: absolute;
	line-height: 20px;
	top: 69%;
	left: 0;
	right: 0;
}
.content p{
	padding: 5px 10px;
	background: #000000;
	color: #ffffff;
	font-size: 13px;
	line-height: 20px;
	text-align: center;
	position: absolute;
	left: 40px;
	right: 40px;
	top: 83%;
}




