html{
	width: 100%;
	background: #FFFFFF;
	height: 100%!important;
}
*{
	box-sizing: border-box;
	font-weight: 400;
}
body{
	min-height: 100%;
	width: 100%;
	padding: 0 12px!important;
	background: #FFFFFF url(../images/redpk-bg01.png) no-repeat top center / 100% auto;
}
.top-ct{
	position: relative;
	width: 100%;
	padding-top: 145px;
	padding-bottom: 35px;
}
.top-ct .img-ct{
	height: 70px;
	width: 70px;
	border-radius: 50%;
	border: solid 1px #F2E6BC;
	line-height: 70px;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 75px;
	margin-left: -35px;
}
.top-ct h3{
	line-height: 30px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	color: #030303;
	font-size: 16px;
}
.top-ct p{
	line-height: 20px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	color: #757575;
	font-size: 14px;
}
.top-ct h2{
	line-height: 35px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	color: #333333;
	font-size: 14px;
	font-weight: 600;
}
.top-ct h4{
	line-height: 20px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	color: #333333;
	font-size: 14px;
}


.record-title{
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
}
.record-title .lt{
	padding-left: 13px;
	background: transparent url(../images/redpk-icon01.png) no-repeat left center / 9px 9px;
	color: #333333;
	font-size: 14px;
}
.record-title .rt{
	color: #333333;
	font-size: 14px;
}
.record-title .rt em{
	font-style: normal;
	color: #E24C0A;
	font-size: 14px;
}


.record-list{
	width: 100%;
	list-style: none;
}
.record-list li{
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	line-height: 22px;
	color: #333333;
	font-size: 13px;
	word-break: break-all;
}
.record-list li .lt span{
	color: #ACACAC;
	line-height: 14px;
	font-size: 12px;
}
.record-list li.cur,
.record-list li.cur span{
	color: #4A90E2;
}








